<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<!-- <bean/> definitions here -->

	<!-- bean for Constructor Based Injection -->

	<bean id="s3" class="Student">
		<constructor-arg value="Geeta"></constructor-arg>
		<constructor-arg value="25"></constructor-arg>
		<constructor-arg value="Indore"></constructor-arg>


	</bean>



</beans>